*.debhelper
*.log
*.substvars
*~
android-logtags-tools/
android-platform-build-headers/
debhelper-build-stamp
files
java-event-log-tags.1
merge-event-log-tags.1
tmp/
zipalign.1
ziptime.1
zipalign/
ziptime/
_jh_*
signapk.1
signapk/
signtos.1
signtos/
