Source: android-platform-build
Section: devel
Priority: optional
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Kai-Chung Yan <seamlikok@gmail.com>,
           Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>= 9.20141010),
               dh-exec,
               dpkg-dev (>= 1.17.14)
Standards-Version: 3.9.6
Homepage: https://android.googlesource.com/platform/build
Vcs-Git: https://anonscm.debian.org/git/android-tools/android-platform-build.git
Vcs-Browser: https://anonscm.debian.org/cgit/android-tools/android-platform-build.git

Package: android-platform-build-headers
Section: libdevel
Architecture: amd64 i386 arm arm64 armeb mips mipsel mips64 mips64el
Depends: ${misc:Depends}
Description: Shared headers in AOSP repository platform/build
 This package contains header files in AOSP repository platform/build that do
 not belong to any specific libraries but used by other programs.
 .
 This package contains AndroidConfig.h for x86, misp(64) and arm(64) which must
 be included in all C/C++ source files of AOSP componnets.